<!DOCTYPE html>
      <html>
         <head>
            <title>CS253 Wiki</title>
           <link type="text/css" rel="stylesheet" href="/static/main.css" />
         </head>
         <body>
              <h1><a href="/" class="main-title">CS254 Wiki</a></h1>
              <div class="login-area">
                <a class="login-link" href="/login">login</a>
              </div>
            <h2>Signup</h2>
            <br>
            <form method="post">
               <table>
                  <tr>
                     <td class="label"/>
                        Username
                     </td>
                     <td>
                        <input type="text" name="username" value="{{username}}">
                     </td>
                     <td class="error">{{err_username}}
                     </td>
                  </tr>
                  <tr>
                     <td class="label"/>
                        Password
                     </td>
                     <td>
                        <input type="password" name="password">
                     </td>
                     <td class="error">{{err_password}}
                     </td>
                  </tr>
                  <tr>
                     <td class="label"/>
                        Verify Password
                     </td>
                     <td>
                        <input type="password" name="verify">
                     </td>
                     <td class="error">{{err_verify}}
                     </td>
                  </tr>
                  <tr>
                     <td class="label"/>
                        Email (Optional)
                     </td>
                     <td>
                        <input type="text" name="email" value="{{email}}">
                     </td>
                     <td class="error">{{err_email}}
                     </td>
                  </tr>
               </table>
               <input type="submit">
            </form>
         </body>
      </html>
